.customer-badge {
    padding: 0.3em 0.8em;
    border-radius: 12px;
    font-size: 0.85em;
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
    text-transform: capitalize;
}

.status-qualified {
    background-color: #C9E782;
    color: #1E1F2A;
    /* green */
}

.status-proposal {
    background-color: #fd7e14;
    /* orange */
}

.status-new {
    background-color: #007bff;
    /* blue */
}

.status-renewal {
    background-color: #6f42c1;
    /* purple */
}

.status-unqualified {
    background-color: #dc3545;
    /* red */
}